---
import "@/styles/stylesheets/global.css"
import Navigation from "@/components/Navigation.astro"
import Footer from '@/components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>QUT AI & ML Society</title>
  </head>
  <body class="background-network">
    <Navigation />

    <main class="main-content">
      <div class="page-header">
        <h1 class="page-title">Our Aims & Objectives</h1>
      </div>

      <div class="content-wrapper">
        <!-- WHO WE ARE panel -->
        <section class="info-panel">
          <h2 class="section-title">WHO WE ARE</h2>
          <p class="section-content">
            The QUT AI & ML Society (QUT AMS) is a student-led group at QUT, focused on exploring artificial intelligence and machine learning. 
			We aim to support learning through hands-on projects, workshops, and collaboration with industry experts to improve skills in AI and ML.
          </p>
        </section>

        <!-- WHAT WE DO panel -->
        <section class="info-panel">
          <h2 class="section-title">WHAT WE DO</h2>
          <ul class="section-list">
            <li>Gain insights and guidance from alumni, professionals, and leaders in the AI and ML industry.</li>
            <li>Collaborate, experiment, and build impactful projects focused on artificial intelligence and machine learning.</li>
            <li>Connect and network with students, researchers, and professionals in the AI, ML, and broader tech community.</li>
          </ul>
        </section>
      </div>
    </main>

    <Footer />
  </body>
</html>
