---
import "@/styles/global.css"
import Navigation from "@/components/Navigation.astro"
import Footer from '@/components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>QUT AI & ML Society</title>
	</head>
	<body class="dark background">
		<Navigation />

		<div class="hero-section">
			<img src="../../src/styles/network.jpg"  alt="Header background"  class="hero-background"/>
			<div class="hero-overlay"></div>
			<h1 class="hero-heading">About Us</h1>
		</div>

		<main class="min-h-160 py-12">

			<div class="content-wrapper">
				<!-- WHO WE ARE panel -->
				<div class="info-panel">
					<h1 class="section-title">WHO WE ARE</h1>
					<p class="section-content">
					The QUT AI & ML Society (QUT AMS) is a student-led group at QUT, focused on exploring artificial intelligence and machine learning.
					We aim to support learning through hands-on projects, workshops, and collaboration with industry experts to improve skills in AI and ML.
					</p>
				</div>

				<!-- WHAT WE DO panel -->
				<div class="info-panel">
					<h1 class="section-title">WHAT WE DO</h1>
					<ul class="section-list">
						<li>Gain insights and guidance from alumni, professionals, and leaders in the AI and ML industry.</li>
						<li>Collaborate, experiment, and build impactful projects focused on artificial intelligence and machine learning.</li>
						<li>Connect and network with students, researchers, and professionals in the AI, ML, and broader tech community.</li>
					</ul>
				</div>
			</div>

		</main>
		<Footer />
	</body>
</html>
