---
import "@/styles/global.css"
import Navigation from "@/components/Navigation.astro"
import Footer from '@/components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>QUT AI & ML Society</title>
  </head>
  <body class="dark background-non-curved">
    <Navigation />

    <div class="hero-section">
      <img src="../../src/styles/network.jpg"  alt="Header background"  class="hero-background"/>
      <div class="hero-overlay"></div>
      <h1 class="hero-heading">Executive Team 2025</h1>
    </div>

    <main class="min-h-screen py-12">
      
      <!-- Admin Team -->
      <section class="team-section">
        <h1>Admin Team</h1>
          <div class="team-wrapper">
            <div class="team-card">
              <img src="/src/styles/guy_icon.png" alt="Zac Knight" />
                <h2>Zac Knight</h2>
                <p>President</p>
            </div>
            <div class="team-card">
              <img src="/src/styles/guy_icon.png" alt="Zac Knight" />
                <h2>Niam Nayani</h2>
                <p>Vice President</p>
            </div>
            <div class="team-card">
              <img src="/src/styles/guy_icon.png" alt="Zac Knight" />
              <h2>Jackson Riding</h2>
              <p>Secretary</p>
            </div>      
             <div class="team-card">
                <img src="/src/styles/guy_icon.png" alt="Zac Knight" />
                  <h2>Declan Whitty</h2>
                  <p>Treasurer</p>
              </div>   
            </div>   
      </section>

      <!-- Projects Team -->
      <section class="team-section">
        <h1>Projects Team</h1>
          <div class="team-wrapper">
            <div class="team-card">
              <img src="/src/styles/guy_icon.png" alt="Zac Knight" />
                <h2>Steve Hun</h2>
                <p>Projects Director</p>
            </div>
            <div class="team-card">
              <img src="/src/styles/guy_icon.png" alt="Zac Knight" />
                <h2>Iwan Kaczmar-Donaghue</h2>
                <p>Projects Officer</p>
            </div>
            <div class="team-card">
              <img src="/src/styles/girl_icon.png" alt="Zac Knight" />
              <h2>Valerie Annabella</h2>
              <p>Projects Officer</p>
            </div>      
          </div>
      </section>

        <!-- Marketing Team -->
        <section class="team-section">
          <h1>Marketing Team</h1>
            <div class="team-wrapper">
              <div class="team-card">
                <img src="/src/styles/guy_icon.png" alt="Zac Knight" />
                  <h2>Amos Wat</h2>
                  <p>Marketing Director</p>
              </div>
              <div class="team-card">
                <img src="/src/styles/girl_icon.png" alt="Zac Knight" />
                  <h2>Belinda Zhou</h2>
                  <p>Marketing Officer</p>
              </div>      
          </div>  
      </section>

        <!-- Events Team -->
        <section class="team-section">
          <h1>Events Team</h1>
          <div class="team-wrapper">
              <div class="team-card">
                <img src="/src/styles/girl_icon.png" alt="Zac Knight" />
                  <h2>Gemma O'Driscoll</h2>
                  <p>Events Director</p>
              </div>
              <div class="team-card">
                <img src="/src/styles/girl_icon.png" alt="Zac Knight" />
                  <h2>Sophia Sweet</h2>
                  <p>Events Officer</p>
            </div>
          </div>  

        <!-- General Executives -->
        <section class="team-section" style="margin-bottom: 500px">
          <h1>General Executives</h1>
            <div class="team-wrapper">
              <div class="team-card">
                <img src="/src/styles/guy_icon.png" alt="Zac Knight" />
                  <h2>Ethan Regnart</h2>
                  <p>General Executive</p>
              </div>
              <div class="team-card">
                <img src="/src/styles/girl_icon.png" alt="Zac Knight" />
                  <h2>Leonora Van De Sande</h2>
                  <p>General Executive</p>
              </div>   
              <div class="team-card">
                <img src="/src/styles/guy_icon.png" alt="Zac Knight" />
                  <h2>Mandeep Gautam</h2>
                  <p>General Executive</p>
              </div>      
        </div>  

    </main>
	<Footer />
  </body>
</html>
