---
import "@/styles/global.css"
import "@/styles/team.css"
import Navigation from "@/components/Navigation.astro"
import Footer from '@/components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>QUT AI & ML Society</title>
  </head>
  <body class="background-network">
    <Navigation />

    <main class="main-content">
      <div class="page-header">
        <h1 class="page-title">Executive Team 2025</h1>
      </div>

      <div class="content-wrapper">

        <!-- Our Team -->
        <section class="info-panel">
          <h2 class="section-title">Our Team</h2>
          <p class="section-content">
            <img src="/people/team.png" alt="team" />
          </p>
        </section>

        <!-- Admin Team -->
        <section class="info-panel">
          <h2 class="section-title">Admin Team</h2>
          <p class="section-content">
            <div class="team-wrapper">
              <div class="team-card">
                <img src="/people/Zac.png" alt="Zac Knight" />
                  <h2>Zac Knight</h2>
                  <p>President</p>
              </div>
              <div class="team-card">
                <img src="/people/Niam.png" alt="Niam Nayani" />
                  <h2>Niam Nayani</h2>
                  <p>Vice President</p>
              </div>
              <div class="team-card">
                <img src="/people/Jackson.png" alt="Jackson Riding" />
                  <h2>Jackson Riding</h2>
                  <p>Secretary</p>
              </div>
              <div class="team-card">
                <img src="/people/Declan.png" alt="Declan Whitty" />
                  <h2>Declan Whitty</h2>
                  <p>Treasurer</p>
              </div>
            </div>  
          </p>
        </section>

        <!-- Projects Team -->
        <section class="info-panel">
          <h2 class="section-title">Projects Team</h2>
          <p class="section-content">
            <div class="team-wrapper">
              <div class="team-card">
                <img src="/people/Steve.png" alt="Steve Hun" />
                  <h2>Steve Hun</h2>
                  <p>Projects Director</p>
              </div>
              <div class="team-card">
                <img src="/people/Iwan.png" alt="Iwan Kaczmar-Donaghue" />
                  <h2>Iwan Kaczmar-Donaghue</h2>
                  <p>Projects Officer</p>
              </div>
              <div class="team-card">
                <img src="/people/Valerie.png" alt="Valerie Annabella" />
                  <h2>Valerie Annabella</h2>
                  <p>Projects Officer</p>
              </div>
              <div class="team-card">
                <img src="/people/guy_icon.png" alt="Iwan Kaczmar-Donaghue" />
                  <h2>Jaidyn Snabel</h2>
                  <p>Projects Officer</p>
              </div>
              <div class="team-card">
                <img src="/people/Rajinder.png" alt="Iwan Kaczmar-Donaghue" />
                  <h2>Rajinder Singh</h2>
                  <p>Projects Officer</p>
              </div>
              <div class="team-card">
                <img src="/people/guy_icon.png" alt="Iwan Kaczmar-Donaghue" />
                  <h2>Nhu Hieu Nguyuen</h2>
                  <p>Projects Officer</p>
              </div>
            </div>  
          </p>
        </section>

        <!-- Marketing Team -->
        <section class="info-panel">
          <h2 class="section-title">Marketing Team</h2>
          <p class="section-content">
            <div class="team-wrapper">
              <div class="team-card">
                <img src="/people/Amos.png" alt="Amos Wat" />
                  <h2>Amos Wat</h2>
                  <p>Marketing Director</p>
              </div>
              <div class="team-card">
                <img src="/people/Belinda.png" alt="Belinda Zhou" />
                  <h2>Belinda Zhou</h2>
                  <p>Marketing Officer</p>
              </div>
              <div class="team-card">
                <img src="/people/John.png" alt="Belinda Zhou" />
                  <h2>John Wynter</h2>
                  <p>Marketing Officer</p>
              </div>
              <div class="team-card">
                <img src="/people/guy_icon.png" alt="Belinda Zhou" />
                  <h2>Venis Patel</h2>
                  <p>Marketing Officer</p>
              </div>
            </div>  
          </p>
        </section>

        <!-- Events Team -->
        <section class="info-panel">
          <h2 class="section-title">Events Team</h2>
          <p class="section-content">
            <div class="team-wrapper">
              <div class="team-card">
                <img src="/people/Gemma.png" alt="Gemma O'Driscoll" />
                  <h2>Gemma O'Driscoll</h2>
                  <p>Events Director</p>
              </div>
              <div class="team-card">
                <img src="/people/Sophia.png" alt="Sophia Sweet" />
                  <h2>Sophia Sweet</h2>
                  <p>Events Officer</p>
              </div>
              <div class="team-card">
                <img src="/people/guy_icon.png" alt="Sophia Sweet" />
                  <h2>Amit Suthram</h2>
                  <p>Events Officer</p>
              </div>
            </div>  
          </p>
        </section>

        <!-- General Executives -->
        <section class="info-panel">
          <h2 class="section-title">General Executives</h2>
          <p class="section-content">
            <div class="team-wrapper">
              <div class="team-card">
                <img src="/people/Leonora.png" alt="Leonora Van De Sande" />
                  <h2>Leonora Van De Sande</h2>
                  <p>General Executive</p>
              </div>
              <div class="team-card">
                <img src="/people/Mandeep.png" alt="Mandeep Gautam" />
                  <h2>Mandeep Gautam</h2>
                  <p>General Executive</p>
              </div>
              <div class="team-card">
                <img src="/people/Ethan.png" alt="Ethan Regnart" />
                  <h2>Ethan Regnart</h2>
                  <p>General Executive</p>
              </div>
              <div class="team-card">
                <img src="/people/guy_icon.png" alt="Ethan Regnart" />
                  <h2>In Hwa Nayani</h2>
                  <p>General Executive</p>
              </div>
            </div>  
          </p>
        </section>

      </div>
    </main>

    <Footer />
  </body>
</html>
