---
import "@/styles/stylesheets/global.css"
import "@/styles/stylesheets/ai_tools.css"
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>QUT AI & ML Society</title>
  </head>

	<body class="dark background-non-curved-v2">
		<Navigation />

			<main class="min-h-100 items-center p-12">

			<h1 class="text-4xl font-heading text-center text-white mt-56 p-8">Something exciting is coming soon . . .</h1>


    </main>
    <Footer />
  </body>
</html>

