---
import "@/styles/global.css"
import Navigation from "@/components/Navigation.astro"
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>QUT AI & ML Society</title>
  </head>
  <body class="dark background">
    <Navigation />
    <main class="min-h-screen py-12">

	    <div class="hero-section">
				<img src="../../src/styles/network.jpg"  alt="Header background"  class="hero-background"/>
				<div class="hero-overlay"></div>
				<h1 class="hero-heading">Events</h1>
			</div>

    </main>
	<Footer />
  </body>
</html>
