---
import { Icon } from "astro-icon/components"

interface Props {
    path?: string
    icon?: string
}

const {
    path,
    icon,
} = Astro.props as Props
---

<a
  href={path}
  class="text-black fill-current stroke-current text-4xl rounded-lg p-2 transition-all duration-300"
>
  <Icon name={icon} />
</a>

