---
import { Icon } from "astro-icon/components"

interface Props {
    path?: string
    icon?: string
}

const {
    path,
    icon,
} = Astro.props as Props
---

<a
  href={path}
  class="text-black text-4xl rounded-lg p-2 transition-colors duration-300"
  target="_blank"
  rel="noopener noreferrer"
  aria-label={`Visit our ${icon?.split(':')[1] || 'social media'} page`}
>
  <Icon name={icon} />
</a>

