---
import Button from "@/components/Button.astro"
---

<footer class="ams-footer">
  <div class="footer-social">
    <Button path="https://discord.gg/tUDGrrNPf7" icon="tabler:brand-discord" />
    <Button path="https://github.com/qut-ams" icon="tabler:brand-github" />
    <Button path="https://www.instagram.com/qut_ams/" icon="tabler:brand-instagram" />
    <Button path="https://www.linkedin.com/company/qut-ams/" icon="tabler:brand-linkedin" />
    <Button path="https://www.tiktok.com/@qut_ams" icon="tabler:brand-tiktok" />
  </div>

  <p class="footer-note">© Copyright 2025, QUT AI & ML Society. All Rights Reserved.</p>
  <p class="footer-note">Developed by Zac K from the Founding QUT AMS Executive Team</p>
</footer>
